* {
    box-sizing: border-box;
    margin: 0px !iportant;
    padding: 0px !important;
    margin-top: 0px !important;
}

.container-fluid h1 {
    width: 100%;
    text-align: center;
    margin: auto;
}